@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,700&display=swap');

// VARIABLES
$primary-color: #B59553;
$text-color: #292929;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    color: $text-color;
}

main{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
padding: 10px;
margin-bottom: 16px;
border: 1px solid #ccc;
border-radius: 4px;
}


@import './parciales/global';
@import './parciales/menu';
@import './parciales/hero';
@import './parciales/carousel';
@import './parciales/delivery';
@import './parciales/about-us';
@import './parciales/footer';