.footer {
    font-size: 1rem;
    background-image: url(../img/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0;

    a {
        text-decoration: none;
        color: #FFF;
        display: block;
    }

    &-logo{
        width: 80px;
        height: auto;
        margin-bottom: 15px;
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        color: white;
        
        &-item {
            width: 50%;
        }
    }
    &-info {
        p {
            margin-bottom: 15px;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 15px 0;

            a {
                transition: .3s;
                
                &:hover {
                    color: $primary-color;
                }
            }
            i {
                font-size: 24px;
                display: flex;
                justify-content: center;
                width: 24px;
                height: 24px;
            }
        }  
    }
    &-links ul {
        padding: 0;
        list-style: none;
        
        li {
            margin: 5px;

            a:hover {
                color: $primary-color;
            }
        }
    }

    &-social-content {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 8px;
        margin-top: 24px;
        
        a img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-subscribe {
        p {
            margin-top: 24px;
        }

        &-input input, &-input button{
            border: none;
            padding: 8px 15px;
        }
        &-input {
            margin: 20px 0px;

            button {
                background-color: $primary-color;
                color: #FFF;
                transition: .3s;
                cursor: pointer;
                &:hover {
                    background-color: $text-color;
                }
            }
        }
        &-social {
            display: flex;
            gap: 12px;
            a {
                width: 24px;
                height: 24px;
                text-align: center;
                transition: .3s;
                
                &:hover {
                    color: $primary-color;
                }
                i {
                    font-size: 24px;
                }
            }
        }
    }

    &-info,
    &-social{
        padding-right: 40px;
    }
    &-links,
    &-subscribe{
        padding-left: 40px;
    }
    &-links h1, &-social h1, &-subscribe h1 {
        display: inline-block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
    }
    &-links h1::after, &-social h1::after, &-subscribe h1::after{
        content: ""; 
        width: 70%;
        height: 2px;
        background-color: #FFF;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 530px) {
    .footer-content-item {
        width: 100%;
    }
    .footer-info, .footer-social {
        padding-right: 0;
    }
    .footer-links, .footer-subscribe {
        padding-left: 0;
    }
    .footer-subscribe {
        margin-top: 16px;
    }
}