.hero {
    display: flex;
    align-items: center;

    &-details {
        padding-right: 10px;

        span {
            color: $primary-color;
        }

        &-title {
            margin: 24px 0;
            color: $text-color;
        }
    }

    &-image {
        padding-left: 10px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &-details, &-image {
        width: 50%;
    } 
}